body {
  background: white;
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

.container {
  max-width: 1400px;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.img-responsive {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.embed {
  width: 100%;
  aspect-ratio: 1 /1;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
  background-color: white;
  background-size: cover;
}

.grid-3-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr !important;
  grid-gap: 64px;
}

.card {
  background: white;
  margin: 10px;
}

.card-body {
  padding: 30px;
}

.card-footer {
  padding: 0 30px 30px;
}

.btn {
  display: block;
  margin: 0 auto;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: #000b26;
  text-decoration: none;
}
a {
  color: white;
}

section.secondary {
  background: #f8f8f8;
  background-size: cover;
}

.secondary h2 {
  font-size: 36px;
  text-align: center;
}

.secondary h3 {
  font-size: 18px;
  text-align: center;
}

.secondary h4 {
  font-size: 18px;
  text-align: center;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/tower-bridge.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
  height: 100%;
}

header h1 {
  font-size: 104px;
}

.instagramPics {
  background: white;
  background-size: cover;
}

header h2,
.instagramPics h2 {
  font-size: 36px;
  text-align: center;
}

.whyLondon {
  text-align: center;
  font-size: 28px;
  margin-right: 35px;
}

.main {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000b26;
  opacity: 0.8;
  text-align: center;
  margin-right: 35px;
  background-color: white;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}

.bigBen {
  max-width: 100%;
}

button {
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  border: 1px solid #000;
  background: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 16px;
}

footer {
  background-image: linear-gradient(
      rgba(45, 54, 154, 0.9),
      rgba(2, 34, 78, 0.967)
    ),
    url("../images/header-image.jpg");

  background-repeat: no-repeat;
  background-size: cover;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: white;
  text-align: center;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
  margin-right: 20px;
  line-height: 24px;
  color: white;
  text-align: center;
}

footer a {
  color: white;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }
  .img-responsive {
    display: none;
  }

  section {
    padding: 30px;
  }
  .grid-3-columns {
    grid-template-columns: 1fr !important;
  }
}
